この規約（以下「本規約」といいます）は、お客様（以下「ユーザー」といいます）が、株式会社V2（以下「当社」といいます）が運営し提供するサービス、「GameRoom」（関連するサービスを含み、以下「本サービス」といいます）をご利用頂く際に遵守すべき事項及び当社とユーザー間の権利義務関係を定めるものです。ユーザーは、本規約に同意した上で本サービスをご利用ください。

第１条　定義
本規約上で使用する用語の定義は、次に掲げるとおりとします。
１）本サイト：本サービスのコンテンツが掲載されたウェブサイト
２）本コンテンツ：本サービス上で提供される文字、音、静止画、動画、ソフトウェアプログラム、コード等の総称
３）ユーザーID：本サービスの利用のためにユーザーが固有に持つ文字列
４）パスワード：ユーザーIDに対応してユーザーが固有に設定する暗号
５）個人情報：生存する個人に関する住所、氏名、職業、電話番号等特定の個人を識別することのできる情報（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます）。なお、個人情報の保護に関する法律第2条第1項に定義される個人情報と同義であり、関係法令が改正された場合には、その定義に従うものとします。
６）登録情報：ユーザーが本サイトにて登録した情報の総称
７）知的財産：発明、考案、意匠、著作物その他の人間の創造的活動により生み出されるもの、商標、商号その他事業活動に用いられる商品又は役務を表示するもの及び営業秘密その他の事業活動に有用な技術上又は営業上の情報
８）知的財産権：特許権、実用新案権、意匠権、著作権、商標権その他の知的財産に関して法令により定められた権利又は法律上保護される利益に係る権利

第２条　規約への同意
１）本サービスの利用は、本規約、当社プライバシーポリシー（以下「プライバシーポリシー」といいます）その他当社の定めるルールに従うものとします。本規約、プライバシーポリシー間で定める内容に不一致がある場合は、当社の裁量で適用すべき事項を決定するものとします。なお、当社が本サービス上で掲載する本サービスの利用に関するガイドや説明事項は、本規約の一部を構成するものとします。
２）ユーザーは本規約に同意することにより、本サービスを利用することができます。
３）ユーザーが未成年者である場合には、親権者その他の法定代理人の同意を得たうえで、本サービスをご利用ください。
４）本規約の同意時に未成年であったユーザーが成年に達した後に本サービスを利用した場合、当該ユーザーは本サービスに関する一切の法律行為を追認したものとみなされます。
第３条　規約の変更
１）当社は、以下の各号のいずれかに該当する場合は、民法第548条の4の規定に基づき本規約を随時変更できます。本規約が変更された後の本契約は、変更後の本規約が適用されます。
・本規約の変更が、ユーザーの一般の利益に適合するとき
・本規約の変更が、契約をした目的に反せず、かつ、変更の必要性、変更後の内容の相当　性及びその内容その他の変更に係る事情に照らして合理的なものであるとき
２）当社は、本規約の変更を行う場合は、変更後の本規約の効力発生時期を定め、効力発生時期の2週間前までに、変更後の本規約の内容及び効力発生時期をユーザーに通知、本サービス上への表示その他当社所定の方法によりユーザーに周知ます。
３）前二項の規定にかかわらず、前項の本規約の変更の周知後にユーザーが本サービスを利用した場合又は当社所定の期間内にユーザーが解約の手続をとらなかった場合、当該ユーザーは本規約の変更に同意したものとします。

第４条　アカウントの管理
１）ユーザーは、本サービスの利用を開始するにあたり、当社所定の情報の登録（以下「アカウント登録」といいます）を行う必要があります。ユーザー自身で登録した内容の不備や間違いによって発生したトラブルに関して、当社は一切の責任を負いません。
２）当社は、アカウント登録を申請したユーザーが以下の各号のいずれかの事由に該当する場合は、登録を拒否することがあります。
・本規約に違反するおそれがあると当社が判断した場合
・登録情報の全部又は一部につき虚偽、誤記又は記載漏れがあった場合
・過去にアカウントの削除を受けた者である場合
・反社会的勢力等（第17条で定義する）に該当すると当社が判断した場合
・その他、当社が登録を適当でないと判断した場合
３）本サービスのアカウントは、第三者に譲渡、貸与又は相続させることはできません。 ユーザーは、ユーザーID、パスワード、登録情報その他本サービスを利用する際に登録した内容が、第三者により不正に利用されないよう、ユーザー自身の責任でこれらを管理しなければなりません。ユーザーは、管理不十分によるユーザーID、パスワード、登録情報その他の内容の第三者への不適切な開示及びこれによる第三者の使用から生じたいかなる損害についても、単独で責任を負うものとし、当社の故意又は重過失に起因する場合を除き、当社は一切の責任を負いません。
４）当社は、あるユーザーIDでのログインによって本サービスの利用があった場合、当該ユーザーIDにかかるユーザー本人が利用したものと扱うことができ、当該利用によって生じた結果並びにそれに伴う当社に対する一切の責任については、実際にログインした者が特定できない限り、当該ユーザー本人に帰属するものとします。
５）ユーザーによる、アカウントID、パスワード等の情報の紛失その他当社の責に帰さない事由によりアカウントが使用できなくなった場合、当社は一切の責任を負いません。
６）ユーザーは、登録情報に変更がある場合は、直ちにこれを変更しなければならず、常にユーザー自身の正確な情報が登録されているように登録情報を管理及び修正する責任を負います。登録情報に変更があったにも関わらず、変更を行っていない場合、当社は、登録情報に変更がないものとして取り扱うことができます。変更の届出があった場合でも、変更登録前に行われた取引や各種手続は、変更前の情報に依拠する場合があります。
７）登録情報が盗用され又は第三者に利用されていることが判明した場合、ユーザーは直ちにその旨を当社に通知するとともに、当社からの指示に従うものとします。

第５条　サービス内通貨
１）ユーザーは、当社所定の支払要件、及び購入手続きに従い、本サービス内でのみ使用できるサービス内通貨（以下「サービス内通貨」といいます）を購入できます。当社は、サービス内通貨の発行若しくは付与の過程にシステムの不具合が生じたと判断した場合、又はユーザーの購入手続に不正若しくは誤りがあったと判断した場合、ユーザーに通知することなく、ユーザーのアカウントにおけるサービス内通貨の取得数等を合理的に調整することができます。さらに、この場合において当社は本サービス内のサービス内通貨の提供を、当社の裁量において停止又は中止することができます。
２）当社は、ユーザーに対し、ユーザーが一度購入したサービス内通貨について、理由を問わず一切払い戻しを行いません。ただし、法令上払い戻しが必要な場合はこの限りではありません。サービス内通貨は、これを取得したアカウント上でのみ利用できます。また、異なる端末間において提供されるサービス内通貨の承継や合算はできません。
３）サービス内通貨（「売上coin」「売上から購入されたcoin」「当サイトが指定する方法で購入されたcoin」が対象となります）の有効期間は、取得日を含む日から180日目(日本時間)までとします。ユーザーは有効期間外においてサービス内通貨を利用することはできません。

第６条 本サービスの性質及び内容
１）本サービスは、ゲームプレイ時間を提供したいユーザー（以下「出品者」といいます。）と、ゲームプレイ時間の提供を受けたいユーザーの間での、ゲームプレイ時間提供契約の成立の機会を提供することを目的とするマッチングサービスです。当社がゲームプレイ時間提供契約の当事者となるものではありません。
２）出品者は、条件を定めてゲームプレイ時間を出品し、希望するユーザーに提供することができます。当該出品者からのゲームプレイ時間の提供を希望するユーザーは、当社の定めに従いサービス内通貨を消費して、提供を申しこむものとします。ユーザーの申し込みに対して、出品者が承諾した場合、当該出品者と当該ユーザーの間で、ゲームプレイ時間提供契約が成立したものと見做します。
第７条　出品者への清算について
１）出品者は、ゲームプレイ時間提供契約の成立により、または、ユーザーが当該出品者に対し本サービス内の商品を購入することにより、ユーザーが当該出品者に対しサービス内通貨を消費した場合、当社に対し、次項に定める清算金の支払いを、当社所定の方法により、請求することができるものとします。
２）前項の清算金は、ユーザーが当該出品者に対して消費したサービス内通貨の数量、当該出品者のゲームプレイ時間提供契約成立の実績、売上の合計額等にもとづき、当社が独自に定める方法により算定するものとします。
３）当社は、出品者から清算金の支払いの請求があった場合、出品者に対し、当社所定の方法により、清算金を支払うものとします。なお、清算金の支払いに関し発生する振込手数料等は、出品者の負担とします。
４）ゲームプレイ時間提供契約が成立したにもかかわらず、出品者が正当な理由なくキャンセルしたと当社が判断した場合、当社は、当該成立したゲームプレイ時間提供契約に基づき当該出品者に付与される予定の売上を付与しないこととします。
第７条　ユーザーの退会
１）ユーザーは、本サービスの退会を希望する場合、当社所定の手続きを行うことにより退会することができます。
２）ユーザーが本サービスから退会する場合、本サービスにおいてユーザーに関連する一切のデータは削除されるものとします。また、本サービスを通じてユーザーが保有していたサービス内通貨及びチケットについて、ユーザーからのキャンセルによる払い戻し、返還はできません。ただし、法令上必要な場合を除きます。
第８条　サービスの内容変更と中断等の措置
１）当社は、本サービス及び本サービスを利用して提供される一切のサービスについて、本サービスを適正かつ円滑に運営するためユーザーに通知することなく、いつでも任意に内容を変更できるものとします。
２）当社は、以下の各号のいずれかに該当する場合には、ユーザーに通知することなく、
本サービスの全部又は一部の中断等の措置を講じることができるものとします。
・本サービスに係るコンピュータシステムの点検又は保守作業を定期的又は緊急に行う場合
・コンピュータ、通信回線、その他の設備等が事故等により停止した場合
・火災、停電、天災地変などの不可抗力により本サービスの運営に支障が生じた場合
・ハッキングその他の方法により当社が管理するシステムに異常が生じた場合
・本サービスが連携する第三者の提供するサービスが変更、提供中止、停止又は故障等が　生じた場合
・その他、当社が利用停止又は中断が必要と判断した場合

第９条　サービスの終了
１）当社は、当社の都合により、本サービスの提供を終了（サービスの同一性を維持しないかたちで、本サービスの内容や仕様の全部又は一部について、異なる内容や仕様に変更することを含みます）することができます。この場合、当社はユーザーに事前に通知するよう努めるものとします。
２）本サービスを終了する場合、本サービスにおいてユーザーに関連する一切のデータは削除されるものとします。

第１０条　個人情報等の取り扱い
個人情報及び登録情報については、当社が別途定める「プライバシーポリシー」に則り、適正に取り扱います。

第１１条　知的財産権等
１）本サービス、本サイト及び本コンテンツ上で当社が提供する文章、画像、動画、ロゴ、デザイン、構成、プログラム、ソースコードその他一切のコンテンツの知的財産権については、当社又は当該権利等を正当に有する第三者に帰属するものとします。ユーザーは、いかなる理由によっても当社又は当社にライセンスを許諾している者の知的財産権を侵害するおそれのある行為（複製、配布、転載、転送、公衆送信、改変、翻案、逆アセンブル、逆コンパイル、リバースエンジニアリング、その他の二次利用等を含みますが、これに限定されません）をしないものとします。
２）ユーザーが本サービス上において投稿等を行った場合、著作物性の有無を問わず、掲載内容の一部又は全部に関し、発生しうる全ての著作権（著作権法第27条及び第28条に定める権利を含みます。）について、本サービスの提供に必要な範囲で、無償かつ無制限に利用できる権利を当社に対して許諾することについて同意します。
３）ユーザーが本条の規定に違反して問題が発生した場合、ユーザーは、自己の費用と責任において当該問題を解決するとともに、当社に何らの不利益、負担又は損害を与えないよう適切な措置を講じなければなりません。
４）ユーザーは、著作物となりうる掲載内容の一部について、当社並びに当社より正当に権利を取得した第三者及び当該第三者から権利を承継した者に対し、著作者人格権（公表権、氏名表示権及び同一性保持権を含みます。）を行使しません。

第１２条　禁止行為
本サービスの利用に際し、当社は、ユーザーに対し、以下の各号に掲げる行為、これらを助長する行為又はこれらに該当するおそれのある行為を禁止します。
１）本規約、法令、又は公序良俗に違反する行為
２）当社又は第三者の知的財産権を侵害する行為
３）当社又は第三者の名誉・信用を毀損又は不当に差別若しくは誹謗中傷する行為
４）当社又は第三者の財産を侵害する行為、又は侵害する恐れのある行為
５）当社又は第三者に経済的損害を与える行為
６）当社又は第三者に対する脅迫的な行為
７）コンピューターウィルス、有害なプログラムを送信する行為
８）本サービス用インフラ設備に対して過度な負担をかける行為
９）当社ウェブサイトのサーバーやシステム、セキュリティに攻撃する行為
１０）当社提供のインターフェース以外の方法で本サービスにアクセスをする行為
１１）営業、宣伝、広告、勧誘、その他営利を目的とする行為（ただし、当社が同意したものを除く）
１２）他のユーザーのアカウントを使用して本サービスを利用する行為、又は他のユーザーの名前、名称を用いる等、他人になりすまして本サービスを利用する行為
１３）犯罪収益に関する行為、テロ資金供与に関する行為、又はその疑いがある行為
１４）本サービス外において、アカウント又は本コンテンツを第三者に有償で貸与、譲渡、売買等をする行為
１５）面識のない異性との出会いや交際を目的とする行為
１６）上記の他、当社が不適切と判断する行為

第１３条　利用制限及び登録抹消
１）当社は、ユーザーが以下のいずれかに該当する場合には、ユーザーに事前に通知することなく、ユーザーに対して、本サービスの全部若しくは一部の利用の制限、又は当該ユーザーのアカウントの停止若しくは抹消その他の当社が必要かつ適切と合理的に判断する措置を講じることができるものとします。
・本規約のいずれかの条項に違反した場合
・手数料等の金銭債務の不履行があった場合
・当社からの連絡に対し、一定期間返答がない場合
・本サービスについて、最終の利用から一定期間利用がない場合
・第17条の表明又は確約に違反した場合
・その他、当社が本サービスの利用を適当でないと合理的に判断した場合
２）ユーザーは、本サービスを利用したことに起因して（当社がかかる利用を原因とするクレームを第三者より受けた場合を含みます。）、当社が直接的又は間接的に何らかの損害（逸失利益及び合理的な弁護士費用を含みます。）を被った場合、当社の請求にしたがってこれを賠償するものとします。

第１４条　非保証・免責
１）本サービスの利用に関連して必要となる、通信回線その他の通信環境等は、ユーザーの費用と責任において準備し維持するものとします。これについて、当社は、ユーザーの本サービスの利用環境について一切関与せず、また一切の責任を負わないものとします。
２）当社は、本サービスがユーザーの特定の目的に適合すること、期待する機能・商品的価値・正確性・有用性を有すること、ユーザーによる本サービスの利用がユーザーに適用のある法令又は業界団体の内部規則等に適合すること、及び不具合が生じないことについて、何ら保証しないものとします。
３）当社は、本サービスが全ての情報端末に対応していることを保証するものではなく、本サービスの利用に供する情報端末のＯＳのバージョンアップ等に伴い、本サービスの動作に不具合が生じる可能性があることにつき、ユーザーはあらかじめ了承するものとします。当社は、かかる不具合が生じた場合に当社が行うプログラムの修正等により、当該不具合が解消されることを保証しないものとします。
４）当社は、ユーザーその他の第三者に発生した機会の逸失、業務の中断その他いかなる損害（間接損害や逸失利益を含みます）に対して、当社がかかる損害の可能性を事前に通知されていたとしても、一切賠償責任を負わないものとします。
５）第１項乃至前項の規定は、当社に故意若しくは重過失が存する場合又はユーザーが消費者契約法上の消費者に該当する場合には当該ユーザーとの関係では適用しません。
６）前項が適用される場合であっても、当社は、過失（重過失を除きます）による行為によってユーザーに生じた損害のうち、特別な事情から生じた損害については、賠償する責任を負わないものとします。
７）本サービスの利用に関し当社がユーザーに対し損害賠償責任を負う場合、当社は、当該損害が発生した月にユーザーから受領した利用額を限度として賠償責任を負うものとします。
８）トラブル発生時は、運営会社の判断により、運営会社も協議に参加することができるものとします。
９）当社は、本サービスの円滑な運営のために必要であると当社が判断した場合には、利用者間のトラブルの解決に向けて適切な措置を取るものとします。
１０）ユーザーは、本サービスの利用に関連し、他のユーザーに損害を与えた場合又は第三者との間に紛争が生じた場合、自己の費用（弁護士費用を含みます）と責任において、かかる損害を賠償又はかかる紛争を解決するものとし、当社は一切の関与及び費用負担をしないものとします。
１１）ユーザーの行為により、第三者から当社が損害賠償等の請求をされた場合には、ユーザーの費用（弁護士費用を含みます）と責任において、これを解決するものとします。当社が、当該第三者に対して、損害賠償金を支払った場合には、ユーザーは、当社に対して当該損害賠償金を含む一切の費用（弁護士費用及び逸失利益を含みます）を支払うものとします。
１２）ユーザーが本サービスの利用に関連して当社に損害を与えた場合、ユーザーの費用と責任において当社に対して損害を賠償（弁護士費用及び逸失利益を含みます）するものとします。
１３）他の利用者又は第三者から投稿についての削除依頼があった時、当社の判断で削除の可否を決定できるものとします。
１４）本サービスで他の利用者が投稿した情報の正確性について、当社は保証しません。当社は、本サービスに掲載されている情報についての紛争及びトラブルについて一切の責任を負いません。
１５）ユーザーが本サービスを利用するにあたり、本サービスから本サービスに関わる第三者が運営する他のサービス（以下「外部サービス」といいます。）に遷移する場合があります。その場合、ユーザーは、自らの責任と負担で外部サービスの利用規約等に同意の上、本サービス及び外部サービスを利用します。なお、外部サービスの内容について、その完全性、正確性及び有効性等について、当社は一切の保証をしません。
１６）ユーザーは、法令の範囲内で本サービスをご利用ください。本サービスの利用に関連してユーザーが日本又は外国の法令に触れた場合でも、当社は一切の責任を負いません。
１７）当社は、天災、地変、火災、ストライキ、通商停止、戦争、内乱、感染症の流行その他の不可抗力により本契約の全部又は一部に不履行が発生した場合、一切の責任を負いません。

第１５条　秘密保持
１）本規約において「秘密情報」とは、本規約又は本サービスに関連して、ユーザーが、当社より書面、口頭若しくは記録媒体等により提供若しくは開示されたか又は知り得た、当社の技術、営業、業務、財務、組織、その他の事項に関する全ての情報、及び、本サービスを通じて得た他のユーザーに関する個人情報を含む一切の情報を意味します。ただし、以下の各号の情報については、秘密情報から除外するものとします。
・当社から提供若しくは開示がなされたとき又は知得したときに、既に一般に公知となっ　ていた又は既に知得していたもの
・当社から提供若しくは開示又は知得した後、自己の責に帰さない事由により刊行物その　他により公知となったもの
・提供又は開示の権限のある第三者から秘密保持義務を負うことなく適法に取得したもの
・秘密情報によることなく単独で開発したもの
２）ユーザーは、秘密情報を機密として保持し、本サービスの利用の目的のみに利用するとともに、当社の書面による承諾なしに第三者に当社の秘密情報を提供、開示又は漏洩しないものとします。
３）第二項の定めにかかわらず、ユーザーは、法律、裁判所又は政府機関の命令、要求又は要請に基づき、秘密情報を必要最小限の範囲で開示することができます。ただし、当該命令、要求又は要請があった場合、速やかにその旨を当社に通知しなければなりません。
４）ユーザーは、秘密情報を記載した文書又は電磁的記録等を複製する場合には、事前に当社の書面による承諾を得ることとし、複製物の管理については第2項に準じて厳重に行うものとします。
５）ユーザーは、当社から求められた場合にはいつでも、遅滞なく、当社の指示に従い、秘密情報並びに秘密情報を記載又は包含した書面その他の記録媒体及びその全ての複製物の使用を中止し、返却又は廃棄しなければならないものとします。

第１６条　広告及びリンクの掲載について
ユーザーは、本サービス上にあらゆる広告、及びリンクされた他のサービスが含まれる場合があることを理解しこれを承諾したものとみなします。本サービスで掲載された広告、及びリンクされた他のサービスの内容につき、当社は一切の責任を負いません。本サービス上の広告、及びリンクされた他のサービスの形態や範囲は、当社によって随時変更されます。

第１７条　反社会的勢力の排除
１）ユーザーは、現在かつ将来にわたり、反社会的勢力（暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標榜ゴロ、又は特殊知能暴力集団等、その他これらに準ずる者をいいます）に該当しないこと、また暴力的な要求行為、法的な責任を超えた不当な要求行為、取引に関して脅迫的な言動をし暴力を用いる行為、風説を流布し偽計を用い又は威力を用いて信用を毀損し又は業務を妨害する行為、その他これらに準ずる行為を行わないことを、現在及び将来にわたって表明するものとします。
２）当社は、ユーザーが前項のいずれかに該当すると判断した場合、何らの事前通知を要さず、当該ユーザーのアカウント削除その他必要な一切の措置を講ずるものとします。当該ユーザーは、当社による当該措置に対して、損害賠償請求その他一切の権利を行使することはできないものとします。

第１８条　通知又は連絡
１）ユーザーと当社との間の通知又は連絡は、当社の定める方法によって行うものとします。
２）当社は、ユーザーから、当社が別途定める方式に従った変更届出がない限り、現在登録されている連絡先が有効なものとみなして当該連絡先へ通知又は連絡を行います。
３）前項の変更届出がなされてないことにより当社からの通知が遅延又は不着となった場合であっても、これらは、通常到達すべき時にユーザーへ到達したものとみなします。

第１９条　権利義務等の譲渡等除
１）ユーザーは、本規約等について、本規約等上の地位及びこれらに基づく一切の権利義務を、当社の書面による事前の承諾なく、第三者に譲渡、貸与、又は担保に供することはできません。
２）当社は、本サービスに関する事業を合併、会社分割、事業譲渡その他の事由により第三者に承継させる場合には、当該事業の承継に伴い、本規約等上の地位、本規約等に基づく権利義務及びユーザー情報を当該事業の承継人に譲渡することができるものとし、ユーザーは、かかる譲渡について本項において予め同意したものとします。

第２０条　存続規定
第5条第3項、第7条第2項、第8条から第12条、第13条第2項、第14条、第15条、第17条乃至本条、及び第22条の規定は、ユーザーの本サービスの利用終了後又は当社による本サービスの提供終了後も有効に存続するものとします。

第２１条　分離可能性
１）本規約のいずれかの条項又はその一部が、消費者契約法その他の法令等により無効又は執行不能と判断された場合であっても、本規約の残りの規定及び一部が無効又は執行不能と判断された規定の残りの部分は、継続して効力を有するものとします。
２）本規約の規定の一部があるユーザーとの関係で無効又は取消となった場合でも、本規約は他のユーザーとの関係では有効とします。

第２２条　準拠法、管轄裁判所
１）本規約の有効性、解釈及び履行については、日本法に準拠し、日本法に従って解釈されるものとします。
２）当社とユーザー等との間での論議・訴訟その他一切の紛争については、訴額に応じて、東京簡易裁判所又は東京地方裁判所を専属的合意管轄裁判所とします｡

第２３条　協議解決
当社及びユーザーは、本規約等に定めのない事項又は本規約等の解釈に疑義が生じた場合には、互いに信義誠実の原則に従って協議の上速やかに解決を図るものとします。
