<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta name="auther" content="株式会社BURIPANDA" />
	<meta name="copyright" content="Copyright &copy; BURIPANDA CO., LTD. " />
	<title>メッセージ一覧画面</title>
	<link th:href="@{/css/root.css}" rel="stylesheet">
	<link th:href="@{/css/header.css}" rel="stylesheet">
	<link th:href="@{/css/sidemenu.css}" rel="stylesheet">
	<link th:href="@{/css/message.css}" rel="stylesheet">
	<link th:href="@{/css/login.css}" rel="stylesheet">
	<link th:href="@{/css/modal.css}" rel="stylesheet">
	<link th:href="@{/css/jquery.datetimepicker.min.css}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
		integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
		crossorigin="anonymous"></script>
	<script src="/js/header.js"></script>
	<script src="/js/message.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
	<script src="https://kit.fontawesome.com/e737952f6c.js" crossorigin="anonymous"></script>
	<script src="/js/common.js"></script>
	<script>

		var stompClient = null;
		var sendId = null;
		var distId = "[[${session.v2bean.id}]]";
		var activeUser = null;
    
    // チャット欄データ取得
		function loadPage() {
			$("#content-frame").load(
				"/getMessageData",
				{distId: distId, sendId: sendId},
				function () {
					// スクロールを下へ
					let chatArea = document.getElementById('content-frame');
					chatArea.scrollTop = chatArea.scrollHeight;
					// 新着マークを消す
					var userMessage = document.getElementById('user_message' + sendId);
					if (userMessage != null) {
						userMessage.style.display = "none";
					}
				});
		}
    
    // プロフィールデータ取得
		function loadProfile() {
			$("#profile_body").load(
				"/getChatProfileData",
				{selectId: sendId},
				function () {
				});
		}

    // 予約一覧取得
    function loadReserve() {
      $("#reserve_list").load(
        "/restReserveData",
        {pid: sendId},
        function () {
        });
    }
    // iframeに送信
    function testIframe(id) {

    	const form = document.createElement('form');
    	form.method = 'post';
    	form.target = 'message_contents';
    	form.action = 'testIframe';

    	const hiddenField = document.createElement('input');
    	hiddenField.type = 'hidden';
    	hiddenField.name = 'pid';
    	hiddenField.value = id;
    	form.appendChild(hiddenField);

    	document.body.appendChild(form);
    	form.submit();

    }
		// 左のユーザを選択した時
		function viewMessage(selectId) {
			console.log("sendId:" + selectId);
			var selectUser = document.getElementById('select_user' + selectId);
			if (selectUser != null) {
				var beforUser = document.getElementById('select_user' + activeUser);
				if (beforUser != null) {
					beforUser.style.backgroundColor = "#FFFFFF";
				}
				activeUser = selectId;
				selectUser.style.backgroundColor = "#DE7890";
			}
			if (selectId != 0) {
				// 送信先ユーザID設定
				sendId = selectId;
				/*
				var user_content = document.getElementById("pid" + sendId);
				var clone_element = user_content.cloneNode(true);
				clone_element.id = "select_user";			
				var select_user_content = document.getElementById("select_user");
				select_user_content.replaceWith(clone_element);
				*/
				// メッセージ一覧取得
				loadPage();
				loadProfile();
				loadReserve();
				var chatFrame = document.getElementById('content-frame');
				if (chatFrame != null) {
					chatFrame.style.borderColor = "#EBAEBC";
				}
				// 選択したユーザの単価、ユーザIDをチケット購入画面に渡す
				var ticket_price = document.getElementById('price' + selectId).textContent;
				document.getElementById('price2').textContent = ticket_price;
				document.getElementById('very_sum').textContent = ticket_price;
				document.getElementById('hidden_pid').textContent = selectId;
				
				console.log("単価2：" + document.getElementById('price2').textContent);
				if (ticket_price != 0) {
					document.getElementById('reserve_div').style.display = "block";
				} else {
					document.getElementById('reserve_div').style.display = "none";
				}

			} else {
				document.getElementById('reserve_div').style.display = "none";
			}

		}
		/*
		function sendMessage(){
			
			var message = document.getElementById("textarea").value;
	
			if (message != "") {
				document.getElementById("textarea").value = "";
				$("#content-frame").load(
					"/sendMessageData",
					{message: message},
					function(){});
			}
		}
		*/
		function connect() {
			var socket = new SockJS('/v2-websocket');
			stompClient = Stomp.over(socket);
			stompClient.connect({}, function (after) {
				//setConnected(true);
				console.log('Connected: ' + after);
				var toRecivePath = "/topic/greetings";
				stompClient.subscribe(toRecivePath, function (ws_message) {
					console.log(JSON.parse(ws_message.body));
					const jsMessage = JSON.parse(ws_message.body);
					// メッセージ一覧取得
					if (jsMessage.mode == 0) {
						loadPage();
					} else {
						onlineStatus(jsMessage.distId, 1);
					}
					// 対象ユーザを開いていない場合は新着ありにする
					if (sendId != jsMessage.sendId) {
						var userMessage = document.getElementById('user_message' + jsMessage.sendId);
						if (userMessage != null) {
							userMessage.style.display = "block";
						}
					}
				});
			});
		}

		function disconnect() {
			if (stompClient !== null) {
				stompClient.disconnect();
			}
			console.log("Disconnected");
		}

		async function sendMessage() {
			var toSendPath = "/v2/chat";
			var textarea_element = document.getElementById("textarea");
			var message = textarea_element.value;
			textarea_element.style.height = "24px";

			if (message != "") {
				// wsで相手に通知＆メッセージ登録
				stompClient.send(toSendPath, {}, JSON.stringify(
					{'sendId': sendId, 'distId': distId, 'mode': 0, 'message': message}));
				// 入力欄クリア
				document.getElementById("textarea").value = "";
				await new Promise(s => setTimeout(s, 200));
				// 画面リロード
				loadPage();
			}
		}

		var so = function sendOnlineStatus() {
			var toSendPath = "/v2/login";
			//wsで相手に通知
			stompClient.send(toSendPath, {}, JSON.stringify(
				{'sendId': sendId, 'distId': 21, 'mode': 1, 'message': ""}));
		}

		function onlineStatus(id, status) {
			var element = document.getElementById("user" + id);
			if (element != null) {
				if (status == 1) {
					element.style.display = "block";
				} else {
					element.style.display = "none";
				}
			}
		}

		$(function () {
			// チケット枚数を減らす
			$('.arrow_left').click(function () {
				console.log("arrow_left");
				let cnt = document.getElementById('ticket_num').value;
				if (cnt > 1) {
					cnt--;
					document.getElementById('ticket_num').value = cnt;
					document.getElementById('ticket_time').textContent = cnt;
					// 時間に変換する
					var ticketHour = `${Math.floor((cnt * 15) / 60)}時間${(cnt * 15) % 60}分`;
					document.getElementById('ticket_hour').textContent = ticketHour;
					// 金額を算出する
					let very = document.getElementById('price2').textContent;
					let very_sum = cnt * Number(very);
					document.getElementById('very_sum').textContent = very_sum.toLocaleString();
				}
			});
			// チケット枚数を増やす
			$('.arrow_right').click(function () {
				console.log("arrow_right");
				// チケット枚数を増やす
				let cnt = document.getElementById('ticket_num').value;
				cnt++;
				document.getElementById('ticket_num').value = cnt;
				document.getElementById('ticket_time').textContent = cnt;
				// 時間に変換する
				var ticketHour = `${Math.floor((cnt * 15) / 60)}時間${(cnt * 15) % 60}分`;
				document.getElementById('ticket_hour').textContent = ticketHour;
				// 金額を算出する
				let very = document.getElementById('price2').textContent;
				let very_sum = cnt * Number(very);
				document.getElementById('very_sum').textContent = very_sum.toLocaleString();
			});
			
			// チャット入力欄の拡張
			$('#textarea').on("input", function () {
				let element = document.getElementById('textarea');
				this.style.height = "auto";
				this.style.height = `${element.scrollHeight}px`;
			});
			
			// 日付入力
			$.datetimepicker.setLocale('ja');
			$('#datetime').datetimepicker({
				step: 15,
			});

		});
		// ページ読み込み後、0.5秒後に双方向通信
		window.addEventListener("load", function () {
			connect();
			setTimeout(so, 500);
		});
		// ページを離れる時、双方向通信終了
		window.addEventListener('unload', function () {
			disconnect();
		});
		
		function postReserve() {

      const form = document.createElement('form');
      form.method = 'post';
      form.action = ac;
    
      const hiddenField = document.createElement('input');
      hiddenField.type = 'hidden';
      hiddenField.name = 'pid';
      hiddenField.value = id;
      form.appendChild(hiddenField);
    
      document.body.appendChild(form);
      form.submit();

    }

	</script>
</head>

<body>
	<th:block th:replace="sidemenu::sidemenu"></th:block>
	<div class="contents">
		<th:block th:replace="header::header"></th:block>
		<div class="message">
			<div class="left_content">
				<div class="left_header"></div>
				<div class="partner_list">
					<th:blcok th:each="partner, partnerStat : ${partnerList}">
						<!-- <div class="partner" th:onclick="|javascript:viewMessage(__${partner.id}__)|"> -->
						<div class="partner" th:onclick="|javascript:testIframe(__${partner.id}__)|">
							<div class="partner_inner" th:id="|pid__${partner.id}__|">
								<div><img th:src="@{./getImgDefault?id=__${partner.id}__&name=__${partner.imageFile}__}"
										class="img_mini"></div>
								<div class="select_user" th:id="|select_user__${partner.id}__|"></div>
								<div class="partner_name">[[${partner.userName}]]<BR>[[${partner.message}]]</div>
								<div class="partner_price" th:id="|price__${partner.id}__|">[[${partner.price}]]</div>
								<div class="user_login" th:id="|user__${partner.id}__|"
									th:classappend="${partner.onlineStatus == 1} ? display_block : display_none"></div>
								<div class="user_message" th:id="|user_message__${partner.id}__|"
									th:classappend="${partner.newMessage == 1} ? display_block : display_none"></div>
							</div>
						</div>
					</th:blcok>
				</div>
				<div class="left_footer"></div>
			</div>
			<div class="profile_content">
				<div class="profile_header"></div>
				<div class="profile_list" id="profile_list">
					<iframe name="message_contents" src="http://localhost:8080/"></iframe>
					<div class="reserve-open reserve_div" id="reserve_div">
						<a class="reserve_button reserve_pushdown"><span>日程を予約する</span></a>
					</div>
					<div class="reserve_list" id="reserve_list">
					</div>
				</div>
				<div class="profile_footer"></div>
			</div>
			<div class="right_content">
				<div class="right_title">
					<div id="select_user"></div>
				</div>
				<div class="right_chat" id="content-frame">
				</div>
				<div class="right_buttom">
					<textarea name="message" placeholder="メッセージを入力" id="textarea" rows="1"></textarea>
					<div class="soshin" onclick="javascript:sendMessage()">送信</div>
				</div>
			</div>
		</div>
		<div class="modal-reserve" id="modal-reserve">
		<form method="post" name="reserveForm" enctype="multipart/form-data" action="messagePartnerList">
			<div class="reserve_01">
				<span class="round_btn reserve-close"></span>
				<div class="reserve_title">日程予約</div>
				<div class="error_message" id="reserve_error"></div>
				<div class="reserve_frame">
					<div class="ticket_counter">
					    <div class="ticket_first">チケット</div>
					    <div class="ticket_middle">
							<div class="arrow_left" id="arrow_left"><i class="fa-solid fa-angle-left"></i></div>
							<div><input type="text" name="ticket" size="3" value="1" id="ticket_num" class="ticket_num" readonly></div>
							<div class="arrow_right" id="arrow_left"><i class="fa-solid fa-angle-right"></i></div>
						</div>
						<div class="ticket_last">枚</div>
					</div>
					<div class="schedule_counter">
						<div class="schedule_first">日程</div>
						<div class="schedule_last">
							<input type="text" name="datetime" id="datetime" class="datetime" readonly>
						</div>
					</div>
					<div class="check01">
						<input type="checkbox" name="agree1" id="agree01">
						<label for="agree01">
						※予めチャット上でユーザーとコミュニケーションを取った上でチケットをご購入ください。
						</label>
						<BR><BR>
						<input type="checkbox" name="agree2" id="agree02">
						<label for="agree02">
						※配信や録画等は、募集ユーザーの許可を取った上で行ってください。無許可の場合、肖像権侵害等に該当する可能性がございます。
						</label>
					</div>
					<hr class="style1">
					<div class="purchase_result">
						<div>購入時間：</div>
						<div class="ticket_hour" id="ticket_hour">0時間15分</div>
					</div>
					<div class="purchase_result">
            <div>合計：</div>
            <div class="very_sum" id="very_sum"></div>
            <div>Very</div>
						<div>（</div>
						<div class="ticket_time" id="ticket_time">1</div>
						<div> x 15分/</div>
						<div class="price2" id="price2"></div>
						<div> Very）</div>
					</div>
					<div class="purchase_result">
					  <div>残高</div>
					  <div>[[${session.v2bean.amountKanma}]]</div>
					</div>
					<div class="display_none">
						<input type="text" name="hidden_pid" id="hidden_pid">
					</div>
					<div>
						<a href="javascript:restReserve()" class="reserve_button02 reserve_pushdown02"><span>購入して予約する</span></a>
					</div>
				</div>
			</div>
		</form>
		</div>
	  <div class="modal-rate" id="modal-rate">
	    <div class="rate">
	      <span class="round_btn rate-close"></span>
	      <div class="rate_title">評価</div>
	      <div class="error_message" id="rate_error"></div>
	      <div class="rate_frame">
					<div class="rate-star">
					  <input id="star5" type="radio" name="rate" value="5" checked>
					  <label for="star5">★</label>
					  <input id="star4" type="radio" name="rate" value="4">
					  <label for="star4">★</label>
					  <input id="star3" type="radio" name="rate" value="3">
					  <label for="star3">★</label>
					  <input id="star2" type="radio" name="rate" value="2">
					  <label for="star2">★</label>
					  <input id="star1" type="radio" name="rate" value="1">
					  <label for="star1">★</label>
					</div>
					<div>
					  <textarea class="comment"></textarea>
					</div>
	        <div>
	          <a href="javascript:restRate()" class="rate_button rate_pushdown"><span>評価する</span></a>
	        </div>
	      </div>
	    </div>
	  </div>
		<div id="reserve-overlay" class="reserve-overlay"></div>
	</div>
	<script type="text/javascript">
		viewMessage("[[${session.cpid}]]");
	</script>
</body>

</html>