<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta name="auther" content="株式会社BURIPANDA" />
	<meta name="copyright" content="Copyright &copy; BURIPANDA CO., LTD. " />
	<title>メッセージ一覧画面</title>
	<link th:href="@{/css/root.css}" rel="stylesheet">
	<link th:href="@{/css/sidemenu.css}" rel="stylesheet">
	<link th:href="@{/css/message.css}" rel="stylesheet">
	<script src="/js/common.js"></script>
	<script src="https://kit.fontawesome.com/e737952f6c.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
	$(function(){
	  $('#textarea')
	  .on('input', function(){
	    if ($(this).outerHeight() > this.scrollHeight){
	      $(this).height(1)
	    }
	    while ($(this).outerHeight() < this.scrollHeight){
	      $(this).height($(this).height() + 1)
	    }
	  });
	});
	function selectFunc(id) {

		const form = document.createElement('form');
		form.method = 'post';
		form.action = '/message_selectPartner';

		const hiddenField = document.createElement('input');
		hiddenField.type = 'hidden';
		hiddenField.name = 'pid';
		hiddenField.value = id;
		form.appendChild(hiddenField);

		document.body.appendChild(form);
		form.submit();

		//document.location="view/" + id
	}
	function loadPage(id){
        $("#content-frame").load(
			"/getMessageData",
			{pid: id},
			function(){});
    }
    function viewMessage(id) {
	
		if (id != 0) {		
			var user_content = document.getElementById("pid"+id);
			var clone_element = user_content.cloneNode(true);
			clone_element.id = "select_user";			
			var select_user_content = document.getElementById("select_user");
			select_user_content.replaceWith(clone_element);
			// メッセージ一覧取得
			loadPage(id);
		}

	}
	function sendMessage(){
		
		var message = document.getElementById("textarea").value;

		if (message != "") {
			document.getElementById("textarea").value = "";
	        $("#content-frame").load(
				"/sendMessageData",
				{message: message},
				function(){});
		}
    }
	</script>
</head>

<body>
<th:block th:replace="sidemenu::sidemenu"></th:block>
<div class="contents">
<form method="post" name="form1" enctype="multipart/form-data" action="/chat/soshin">
<div class="message">
	<div class="left_content">
		<div class="title">メッセージ一覧</div>
		<div class="partner_list">
			<th:blcok th:each="partner, partnerStat : ${partnerList}">
			<div class="partner" th:onclick="|javascript:viewMessage(__${partner.id}__)|">
			<div class="partner_inner" th:id="|pid__${partner.id}__|">
				<div><img th:src="@{./getImgDefault?id=__${partner.id}__&name=__${partner.imageFile}__}" class="img_mini"></div>
				<div class="partner_name">[[${partner.userName}]]<BR>[[${partner.message}]]</div>
			</div>
			</div>
			</th:blcok>
		</div>
	</div>
	<div class="right_content">	
		<div class="right_title">
			<div id="select_user"></div>
		</div>
		<div class="right_chat" id="content-frame"></div>
		<div class="right_buttom">
			<textarea name="message" rows="1" cols="50" placeholder="メッセージを入力" id="textarea"></textarea>
			<div class="soshin" onclick="javascript:sendMessage()">送信</div>
		</div>
	</div>
</div>
</div>
</form>
<script type="text/javascript">
	viewMessage("[[${session.v2bean.cpid}]]");
</script>
</body>
</html>