<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="auther" content="株式会社BURIPANDA" />
<meta name="copyright" content="Copyright &copy; BURIPANDA CO., LTD. " />
<title>プロフィール登録</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="/css/root.css" rel="stylesheet">
<link href="/css/star.css" rel="stylesheet">
<link href="/css/modal.css" rel="stylesheet">
<script>
$(function () {
  // ログインモーダルオープン
  $('.rate-open').click(function () {
    $('#overlay, .modal-rate').fadeIn(200);
  });
  //モーダルクローズ
  $('.rate-close, #overlay').click(function () {
    $('#overlay, .modal-rate').fadeOut(100);
    if (document.getElementById('modal-rate') != null) {
    document.getElementById('rate_error').style.display = "hidden";
    document.getElementById('rate_error').style.backgroundColor = "#FFFFFF";
    document.getElementById('rate_error').innerHTML = "";
    document.getElementById('comment').value = "";
    }
  });
});
//評価処理
function restRate(){
	var rate = document.getElementById('rate').value;
	var comment = document.getElementById('comment').value;
	$.post(
		"/restRate", 
		{rate: rate, comment: comment},
		function(data){
			if (data == "ok") {
				loginMenu();
			    //リクエストが成功した際に実行する関数
			    $('#overlay, .modal-rate').fadeOut(100);
			} else {
			document.getElementById('rate_error').style.backgroundColor = "#f08080";
			document.getElementById('rate_error').style.display = "block";
			document.getElementById('rate_error').innerHTML = data;
			}
		}
	);
}
</script>
</head>
<body>
  <div class="rate-open"  id="rate-open">評価オープン</div>
  <div class="modal-rate" id="modal-rate">
    <div class="rate">
      <span class="round_btn rate-close"></span>
      <div class="rate_title">評価</div>
      <div class="error_message" id="rate_error"></div>
      <div class="rate_frame">
				<div class="rate-star">
				  <input id="star5" type="radio" name="rate" value="5" checked>
				  <label for="star5">★</label>
				  <input id="star4" type="radio" name="rate" value="4">
				  <label for="star4">★</label>
				  <input id="star3" type="radio" name="rate" value="3">
				  <label for="star3">★</label>
				  <input id="star2" type="radio" name="rate" value="2">
				  <label for="star2">★</label>
				  <input id="star1" type="radio" name="rate" value="1">
				  <label for="star1">★</label>
				</div>
				<div>
				  <textarea class="comment"></textarea>
				</div>
        <div>
          <a href="javascript:restRate()" class="rate_button rate_pushdown"><span>評価する</span></a>
        </div>
      </div>
    </div>
  </div>
  <div id="overlay" class="overlay"></div>
</body>
</html>