<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="auther" content="株式会社BURIPANDA" />
<meta name="copyright" content="Copyright &copy; BURIPANDA CO., LTD. " />
<title>プロフィール画面</title>
<link th:href="@{/css/default.css}" rel="stylesheet">
<link th:href="@{/css/view.css}" rel="stylesheet">
<link th:href="@{/css/v2.css}" rel="stylesheet">
</head>
<body>
		<h2>プロフィール画面</h2>
<form method="post" name="form1" enctype="multipart/form-data"  action="/chat">
							<input type="hidden" name="id" th:value="${user.id}" />
							[[${#strings.toString(user)}]]
		<table>
			<tr>
				<td rowspan="2" class="add_table">
					<div class="add_div1">
						<!--<img th:src="@{http://localhost:8383/images/thumbnail/__${user.imageFile}__}"
							width="250" id="preview">-->
						<img th:src="@{/getImgDefault?name=__${user.imageFile}__}" width="250" id="preview">
													<br><br>
						<th:block th:if="${user.loginId != user.id && user.loginId != 0}">
						<a href="javascript:form1.submit()" class="view_btn">チャットを開始する</a>
						</th:block>
				</td>
				<td class="add_table">
					<div class="add_div2">
						<label>ユーザーネーム</label><br> [[${user.userName}]]
					</div>
				</td>
			</tr>
			<tr>
				<td class="add_table">
					<div class="add_div3">
						<label for="comment-id">自己紹介文</label><br>
						<th:block th:if="${user.message}">
							<th:block th:each="line: ${user.message.split('\r\n|\r|\n', -1)}">
								<th:block th:text="${line}" />
								<br />
							</th:block>
						</th:block>
					</div>
				</td>
			</tr>
		</table>
		</form>
	</div>
</body>
</html>