<th:block th:fragment="header">
<div class="header">
	<img src="/image/logo.jpg" class="logo_img">
	<div class="logo_text">ぶいつー！</div>
	<div class="login_search">
		<form method="get" name="form1" enctype="multipart/form-data" action="/keyword">
		<input type="text" size="25" placeholder="キーワード検索" name="keyword" class="keyword"><input type="submit" value="&#xf002">
		</form>
	</div>
	<div class="right_div"></div>
	<div class="login_icon" th:classappend="${session.v2bean.id == 0} ? display_none : display_block" id="login_06">
			<img th:src="@{./getImgDefault?id=__${session.v2bean.id}__&name=__${session.v2bean.imageFile}__}" class="login_icon_img">
			<div class="login_tuchi"></div>
	</div>
	<div class="bell_icon" th:classappend="${session.v2bean.id == 0} ? display_none : display_block" id="login_04" >
		<i class="fa-regular fa-bell"></i>
		<th:block th:if="${session.v2bean.id != 0}">
		<div class="bell_tushi" th:classappend="${session.v2bean.bellTuchi > 0} ? display_block : display_none"></div> 
		</th:block>
	</div>
	<div class="chat_icon" th:classappend="${session.v2bean.id == 0} ? display_none : display_block" id="login_05">
		<i class="fa-regular fa-comments"></i>
		<th:block th:if="${session.v2bean.id != 0}">
		<div class="chat_tuchi" th:classappend="${session.v2bean.chatTuchi > 0} ? display_block : display_none"></div> 
		</th:block>
	</div>
	<div  class="login_div" th:classappend="${session.v2bean.id == 0} ? display_block : display_none" id="login_01">
		<div class="login-open  login_a">
		<i class="fa-solid fa-circle-user"></i><span class="login_text">ログイン</span>
		</div>
	</div>
	<div class="shinki_div" th:classappend="${session.v2bean.id == 0} ? display_block : display_none" id="login_02">
		<div class="signup-open shinki_a">新規登録</div>
	</div>
	<div  class="shinki_div" th:classappend="${session.v2bean.id == 0} ? display_none : display_block" id="login_03" onclick="javascript:restLogout()">
		<div class="login_a"><span class="logout_text">ログアウト</span></div>
	</div>
</div>
</th:block>
