<th:block th:fragment="sidemenu">
<header class="cp_sidebarmenu">
	<nav class="cp_sidenav">
	<ul class="menu">
		<li><a href="/"><i class="fa fa-home fa-fw"></i><span>ホーム</span></a></li>
		<li th:classappend="${session.v2bean.id != 0} ? display_block : display_none" id="menu01"><a href="javascript:postSelectAc('profileView');"><i class="fa-solid fa-camera-retro"></i><span>プロフィール</span></a></li>
		<li th:classappend="${session.v2bean.id != 0} ? display_block : display_none" id="menu02"><a href="javascript:postSelectAc('shopView');"><i class="fa-solid fa-store"></i><span>出品設定</span></a></li>
    <li th:classappend="${session.v2bean.id != 0} ? display_block : display_none" id="menu07"><a href="javascript:postSelectAc('schejuleView');"><i class="fa-solid fa-ticket"></i></i><span>予約/購入一覧</span></a></li>
		<li th:classappend="${session.v2bean.id != 0} ? display_block : display_none" id="menu04"><a href="javascript:postSelectAc('messagePartnerList');"><i class="fa-solid fa-comments"></i><span>チャット</span></a></li>
		<li th:classappend="${session.v2bean.id != 0} ? display_block : display_none" id="menu06"><a href="javascript:postSelectAc('chargeView');"><i class="fa-solid fa-sack-dollar"></i><span>課金</span></a></li>
    <li th:classappend="${session.v2bean.id != 0} ? display_block : display_none" id="menu05"><a href="javascript:postSelectAc('recruitView');"><i class="fa-solid fa-bullhorn"></i><span>募集管理</span></a></li>
    <li th:classappend="${session.v2bean.id != 0} ? display_block : display_none" id="menu08"><a href="javascript:postSelectAc('recruitListView');"><i class="fa-solid fa-rectangle-list"></i><span>募集一覧</span></a></li>
    <li th:classappend="${session.v2bean.id != 0} ? display_block : display_none" id="menu03"><a href="javascript:void(0);"><i class="fa-solid fa-children"></i><span>フォロー</span></a></li>
    <li><a href="javascript:void(0);"><i class="fa-solid fa-tower-cell"></i><span>イベント</span></a></li>
		<li><a href="javascript:void(0);"><i class="fa-solid fa-ranking-star"></i><span>ランキング</span></a></li>
		<li><a href="javascript:void(0);"><i class="fa-solid fa-envelopes-bulk"></i><span>お問い合わせ</span></a></li>
	</ul>
	</nav>
</header>
</th:block>
