/*--------------------------------------
 バナー
--------------------------------------*/

.banner {
  position: relative;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  object-fit: cover;
}

.banner img{
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.banner_font_big{
  /*font-family: '游明朝';*/
  font-weight: 400;
  font-size: 80px;
  position: absolute;
  top: 15px;
  left: 115px;
  color: var(--font-coler);
}

.banner_font_small{
  font-weight: 400;
  font-size: 25px;
  position: absolute;
  top: 170px;
  left: 120px;
  color: var(--font-coler);
}

.banner_video-wrap {
  width: 100%;
  overflow: hidden;
}
.banner_video-wrap::before {
    content: "";
    display: block;
    padding-top: 20%;
  }
.banner_video {
  display: block;
  width: 100%;
  min-height: 80px;
  max-height: 360px;
  /* 背景画像の高さ */
  /* 高さを維持したまま全体を表示させる */
  object-fit: fill;
  position: absolute;
  top: 60px;
  left: 40px;
}
 
/*--------------------------------------
 プロフィール一覧 （登録Vtuber一覧）
--------------------------------------*/
.midashi_01 {
  font-size: 25px;
  margin:10px auto 10px auto;
  width: 88%;
  border-left:5px solid var(--font-coler);
  padding-left:20px;
}
.profile {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.profile_01 {
  width: 300px;
  height: 420px;
  cursor : pointer;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 1px 10px  #DDDDDD;
  margin: 5px;
}

.card_01 {
  background-color: #ffffff;
  /*
  box-shadow: 0 0 0px rgba(0, 0, 0, .16);
  color: #212121;*/
  text-decoration: none;
}

.card_header_01 {
  display: flex;
}
.img1 {
  width: 300px;
  height:300px;
  object-fit: cover;
  transition:1s all;
}
.img1:hover {
  transform:scale(1.2,1.2);
  transition:0.5s all;
}
.card_thumbnail_01 {
  margin: 0;
  order: 0;
  overflow:hidden;
}
.card_footer {
  position: relative;
  top: -40px;
}

.card_title {
  font-size: 18px;
  order: 1;
  font-weight: 400;
  color:#FFFFFF;
  padding: 15px 10px 5px 10px;
  background: linear-gradient(rgba(85,85,85,0),rgba(85,85,85,0.4));
}

.card_name {
  margin: 5px 10px;
  font-size: 20px;
  font-weight: 700;
}
.card_price {
  padding: 0 10px;
  font-weight: 700;
  color:chocolate;
  margin-bottom:5px;
}
.icons {
	display: flex;
	/*justify-content: space-between;*/
}
.icon1 {
  /*
  font-size: 35px;
  margin: 10px 20px;
  color: var(--youtube-color);
  */
  width:35px;
  height:24px;
  margin:5px 20px;
  padding-top:5px;
}
.icon2 {
  /*
  font-size: 35px;
  margin: 10px 20px;
  color: var(--twitter-color);
  */
  height:35px;
  margin:5px 20px;
}
.icon3 {
  /*
  font-size: 35px;
  margin: 10px 20px;
  color: var(--tiktok-color);
  */
  height:35px;
  margin:5px 20px;
}
.icon4 {
  /*
  font-size: 35px;
  margin: 10px 20px;
  color: var(--instagram-color);
  */
  height:35px;
  margin:5px 20px;
}


/*--------------------------------------
 ランキング一覧
--------------------------------------*/
.midashi_03 {
  font-size: 25px;
  margin:40px auto 10px auto;
  width: 88%;
  border-left:5px solid var(--font-coler);
  padding-left:20px;
}
.ranking {
  margin-bottom: 20px;
}

.order {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  display: flex;
  cursor : pointer;
}


.order_div {
  width: 100px;
  height: 100px;
  cursor : pointer;
  overflow: hidden;
  border-radius: 5px;
  margin: 5px 20px 5px 20px ;
}

.order_img {
  width: 100px;
  height:100px;
  object-fit: cover;
  transition:0.5s all;

}

.order_img:hover {
  transform:scale(1.2,1.2);
  transition:1s all;
}

hr.style1{
  width: 90%;
  border-top: 1px solid  var(--shadow-color);
}

.name_02 {
  margin: 10px;
  font-weight: 700;
  font-size: 20px;
}
.message_01 {
  margin: 10px;
}
.chat_01 {
  color:chocolate;
  margin-left: auto;  
}

.chat_text_01 {
  width: 140px;
  padding-top: 20px;
  padding-bottom:20px;
  padding-left: 25px;
  padding-right: auto;
  font-size: 16px;
  color: #ffffff;
  background-color:  var(--shadow-color);
  border-radius: 10px;
}

.ranking_footer {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  display: flex;
}

.blank {
  width: 20px;
}
.ranking_footer a {
  text-decoration: none;
}
/* Twitterリンク */
.twitter_button {
	display: flex;	
	background-color: #00acee;
	height: 18px;
	width: 90px;
	padding: 3px 6px;
	border-radius: 2px;
	margin: 0px 10px 0px 0px;
}
.twitter_img {
  width: 12px;
  height: 12px;
  margin: 2px 0px 4px 0px;
}

.twitter_text {
  font-size: 11px;;
  color: #ffffff;
  position: relative;
  top: 3px;
  left: 5px;
  /*
  transform: translateY(-40%);
  */
}

.youtube_button {
	display: flex;	
  	left: 50px;
}