
/*-------------------------------------
メッセージ一覧全体
-------------------------------------*/
.message {
  display: flex;
  height: 100vh;
  position: fixed;
  top:-40px;
  bottom: 0;
  margin: 0;
}
/*-------------------------------------
メッセージ一覧左
-------------------------------------*/
.left_content {
  width: 299px;
  height: 100vh;
  display: grid;
  flex-flow: column;
  grid-template-rows: 104px 1fr 42px ;
}
.left_header {
  width: 299px;
}

.partner_list {
  overflow: hidden scroll ;
  display:flex;
  flex-flow: column;
  margin :0;
}

.partner {
  border-width: 0;
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 3px 5px;
}
.partner_inner {
  width: 290px;
  height: 50px;
  display: flex;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 5px  #DDDDDD;
  background-color: #FFFFFF;
  object-fit: cover;
  padding: 4px;
}
.partner_inner:hover {
  top: -1px;
  left: -1px;
  filter: drop-shadow(2px 2px 3px rgba(222,120,144,.5));
}

.img_mini {
  width:50px;
  height:50px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #CCCCCC;
}
.partner_name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:70px;	
}
.select_user {
	position: absolute;
	left:60px;
	top:-1px;
	height:100%;
	width:3px;
	background-color: #FFFFFF;
}
.user_login {
  position: absolute;
  top:35px;
  left:40px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background-color: #00cc33;
  z-index: 11;
}
.user_message {
  position: absolute;
  top:5px;
  left:40px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background-color: #FF0000;
  z-index: 11;	
}
.display_none {
  display: none;	
}
.display_block {
  display: block;	
}
.left_footer {
  width: 100%;
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-width: 1px 0 0 0 ;
  border-color:var(--input-border-color);
  border-style: solid;
}
/*-------------------------------------
メッセージ一覧右
-------------------------------------*/
.right_content {
  width: 500px;
  height: 100vh;
  display: grid;
  flex-flow: column;
  grid-template-rows: 104px 1fr 44px;
}
.right_title {
  margin: 0;
  padding: 2px ;
}
/*-------------------------------------
メッセージ部分
-------------------------------------*/
.right_chat {
  padding: 20px 10px;
  /*margin: 15px auto;*/
  text-align: right;
  overflow-y: auto;
  display:flex;
  flex-flow: column;
}

/*-------------------------------------
相手部分
-------------------------------------*/
.partner_chat {
  width: 100%;
  margin: 10px 0;
}

.partner_chat .partner_img {
  float: left;
  margin-right: -50px;
  margin-top: 5px;
  width: 35px;
}

.partner_chat .partner_img img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.partner_chat .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 3px 50px;
  padding: 8px 15px;
  max-width: 80%;
  border-radius: 12px 12px 12px 0;
  background: #edf1ee;
}
.says div {
  text-align:left
}
.partner_time {
  	margin: 2px 0 5px 10px;
  	text-align: left;
  	font-size: 0.7rem;
}
/*-------------------------------------
自分部分
-------------------------------------*/
.mycomment {
  display: inline-block;
  margin: 0 0 3px auto;
  padding: 8px 15px;
  border-radius: 15px 15px 0 15px;
  background: var(--shadow-color);
  color: #FFFFFF;
}
.mycomment div {
  text-align:left
}
.my_time {
  	margin: 2px 5px 5px 0;
  	font-size: 0.7rem;
}
/*-------------------------------------
メッセージ送信
-------------------------------------*/
.right_buttom {
  border-width: 1px 0 0 0 ;
  border-color:var(--input-border-color);
  border-style: solid;
  display: flex;
  width: 900px;
  height: 80px;
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
}
textarea {
  margin: 8px 8px;
  padding: 8px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  outline: none;
  color:var(--font-coler);
  resize:none;
  width: 40%;
  height: 20px;
}
textarea::-webkit-scrollbar{
  display:none;
}

.soshin {
  font-size: 18px;;
  font-weight: 700;
  cursor: pointer;
  border: none;
/* 縦中央にし、その半分戻す */
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translateY(-50%);
}
/*-------------------------------------
プロフィール
-------------------------------------*/
.profile_content {
  position:flex;
  width: 300px;
  display: grid;
  flex-flow: column;
  grid-template-rows: 104px 1fr 104px;
}
.profile_header {
  margin: 0;
  padding: 2px ;
}
.profile01 {

}
.profile_left_div01 {
  margin:4px;
  overflow: hidden;
  border-radius: 8px;
  text-align:center;
  width: 300px;
  height: 500px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 0px 5px rgba(222,120,144,.5));
  z-index: -1;
}
.profile_left_div01 img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}
.profile_left_div01_inner {
  overflow: hidden;
  text-align:center;
  background-color: #FFFFFF;
  border-radius: 8px;

}
.username {
  font-size: 1.2rem;
  margin: 10px 0;

}
.profile_footer {
	bottom: 0;
	background-color: #FFFFFF;
}

