
/*-------------------------------------
メッセージ一覧全体
-------------------------------------*/
.message {
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0px;
  bottom: 0;
  margin: 0;
  
}
/*-------------------------------------
ヘッダー
-------------------------------------*/
.title {
/*
  height: 50px;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  */
  display: block;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  border-width: 0 0 1px 0 ;
  border-color:var(--input-border-color);
  border-style: solid;

}

.title img {
  display: block;
  width: 100vw;
  height: 100px;
  object-fit: cover;
}

/*
/*-------------------------------------
メッセージ一覧左
-------------------------------------*/
.left_content {
  width: 299px;
  height: 100vh;
  display: grid;
  flex-flow: column;
  grid-template-rows: 104px 1fr 104px ;
}
.left_header {
  width: 299px;
}

.partner_list {
  overflow: hidden scroll ;
  display:flex;
  flex-flow: column;
  margin :0;
}

.partner {
  border-width: 0;
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 3px 5px;
}
.partner_inner {
  width: 290px;
  height: 50px;
  display: flex;
  position: relative;
  border-radius: 8px;
  padding: 3px;
  box-shadow: 0px 0px 5px  #DDDDDD;
  background-color: #FFFFFF;
}
.partner_inner:hover {
  top:-2px;
  left:-2px;
  filter: drop-shadow(2px 2px 3px rgba(222,120,144,.5));
  z-index:10;
}
.img_mini {
  width:50px;
  height:50px;
  object-fit: cover;
  /*
  border:1px solid #CCCCCC;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  */
}
.partner_name {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left:70px;	
}
.left_footer {
  width: 100%;
  height: 100px;
  position: fixed;
  left: 0;
  bottom: 0;
  border-width: 1px 0 0 0 ;
  border-color:var(--input-border-color);
  border-style: solid;
}
/*-------------------------------------
メッセージ一覧右
-------------------------------------*/
.right_content {
  width: 699px;
  height: 100vh;
  display: grid;
  flex-flow: column;
  grid-template-rows: 104px 1fr 104px;

}
.right_title {
  font-weight: 700;
  margin: 0;
  padding: 2px ;
}
/*-------------------------------------
メッセージ部分
-------------------------------------*/
.right_chat {
  padding: 20px 10px;
  /*margin: 15px auto;*/
  text-align: right;
  overflow-y: auto;
  display:flex;
  flex-flow: column;
}

/*-------------------------------------
相手部分
-------------------------------------*/
.partner_chat {
  width: 100%;
  margin: 10px 0;
}

.partner_chat .partner_img {
  float: left;
  margin-right: -50px;
  margin-top: 5px;
  width: 35px;
}

.partner_chat .partner_img img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.partner_chat .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative; 
  margin: 0 0 3px 50px;
  padding: 8px 15px;
  max-width: 80%;
  border-radius: 12px 12px 12px 0;
  background: #edf1ee;
}
.says div {
  text-align:left
}
.partner_time {
  	margin: 2px 0 5px 10px;
  	text-align: left;
  	font-size: 0.7rem;
}
/*-------------------------------------
自分部分
-------------------------------------*/
.mycomment {
  display: inline-block;
  margin: 0 0 3px auto;
  padding: 8px 15px;
  border-radius: 15px 15px 0 15px;
  background: var(--shadow-color);
  color: #FFFFFF;
}
.mycomment div {
  text-align:left
}
.my_time {
  	margin: 2px 5px 5px 0;
  	font-size: 0.7rem;
}
/*-------------------------------------
メッセージ送信
-------------------------------------*/
.right_buttom {
  border-width: 1px 0 0 0 ;
  border-color:var(--input-border-color);
  border-style: solid;
  display: flex;
  width: 700px;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-color: #FFFFFF;
}
textarea {
  margin: 8px 8px;
  padding: 8px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  outline: none;
  color:var(--font-coler);
  resize:none;
  width: 80%;
  height: 20px;
}
textarea::-webkit-scrollbar{
  display:none;
}

.soshin {
  font-size: 18px;;
  font-weight: 700;
  cursor: pointer;
  border: none;
/* 縦中央にし、その半分戻す */
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translateY(-50%);
}

