
/*-------------------------------------
プロフィール画面　左側
-------------------------------------*/
.profile01 {
	padding: 30px;
	display: grid;
	grid-template-columns: 300px 1fr;
}
.profile_card {
  overflow: hidden;
  border-radius: 8px;
  width: 300px;
  height: 500px;
  /*background: linear-gradient(135deg, #fc00ff 0, #00dbde 100%);*/
  /*background-color: var(--font-coler--input-border-color);*/
  /* ここが枠になる */
  /*padding: 4px;*/
  background-color: var(--card-border-coloer);
  filter: drop-shadow(0px 0px 5px rgba(222,120,144,.5));
}
.profile_inner {
  overflow: hidden;
  text-align:center;
  background-color: #FFFFFF;
  border-radius: 8px;
  width:300px;
  height: 500px
}
.profile_inner img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.username {
  font-size: 16px;
  margin: 10px 0;
}
.hr90 {
  width:90%;
  border-top: 1px solid  var(--shadow-color);
  inset:0;
}
.badge {
  font-size: 16px;
  display:flex;
  position:relative;
}
.badge img {
  width: 30px;
  height: 30px;
  object-fit: cover;  
  margin:0 20px;
}
.badge_info {
  position:absolute;
  top:5px;
  left:60px;
}
/*-------------------------------------
評価一覧
-------------------------------------*/
.rate_header {
	padding: 10px 10px 10px 15px;
}
.rate_list {
  display:flex;
  flex-flow: column;
  overflow: hidden;
  border-radius: 8px;
  width: 300px;
  background-color: #FFFFFF;
  filter: drop-shadow(0px 0px 5px rgba(222,120,144,.5));
  margin: 10px 0;
}
.rate_user {
	display:flex;
	width:300px;
	margin:5px 0;
}
.rate_img {
  padding:5px;
}
.rate_img img {
  width:50px;
  height:50px;
  border-radius: 50%;
  object-fit: cover;
}
.rate_detail {
  display:flex;
  flex-flow: column;
}
.rate_detail_name {
}	
.rate_detail_star {
	
}
.rate_detail_com {
	
}
.style_90 {
  width: 90%;
  border-top: 1px solid  #EEEEEE;
  margin: 5px 10px;;
}
/*-------------------------------------
プロフィール画面　右側
-------------------------------------*/
.profile_right {
	padding: 10px;
	margin-left: 20px;
}
.profile_right_hedder {
  display: flex;
}
.profile_right_title {
  font-size: 1.5rem;
  /*margin: 20px 0;*/
}
.profile_right_edit {
  margin-left: auto;
}
.profile_right_registdate {
  font-size:0.8rem;
}
.user_price {
  display:flex;
  height:30px;
  margin:10px 0;
}
.price {
  font-size:25px;
  padding-right:10px;
  padding-bottom: 0;
  margin-bottom:0;
  margin-top: auto;

}
.price_str {
  margin-bottom:2px;
  margin-top: auto;
}
/* 星 */
.evaluate {
  display:flex;
  height:25px;
  margin:10px 0;
}
.evaluate_stars {
  padding-bottom: 0;
  margin-bottom:0;
  margin-top: auto;
}
.evaluate_str {
  margin-bottom:2px;
  margin-top: auto;
  padding-left:10px;
}
.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    font-size: 20px;
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #E6B422 /* イエローカラー 自由に設定化 */
}
.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */

.style_100 {
  width: 100%;
  border-top: 1px solid  var(--shadow-color);
  margin: 20px 0px;;
}
.profile_message_title {
  font-size:1.5rem;
}
.profile_message {
  margin:10px 0;
}
.profile_badge {

}
.profile_badge_img {
	border-radius: 50%;
	font-size: 50px;
}
.profile_badge_txt01 {
  position: relative;
  left: 60px;
  top: -48px;	
}
.profile_badge_txt02 {
  position: relative;
  left: 60px;
  top: -48px;
}
.profile_media {
  display:flex;
  flex-flow: column;
}
.icon {
  margin: 5px;
  font-size: 1.5rem;
}
.add_div3 {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0,0,0,.2);
  inset: 0;
  text-align:center;
  width: 500px;
  height: 300px;
  padding: 5px 10px 10px 10px;
}
/*-------------------------------------
メディアアイコン
-------------------------------------*/
.icons {
	display:flex;
}
.icons a {
	text-decoration: none;
	display: inline;
}
.icon1 {
  width:35px;
  height:24px;
  margin:5px 10px;
  padding-top:5px;
}
.icon2 {
  height:35px;
  margin:5px 10px;
}
.icon3 {
  height:35px;
  margin:5px 10px;
}
.icon4 {
  height:35px;
  margin:5px 10px;
}


/*--------------------------------
タイトル
---------------------------------*/
.title {
	margin: 30px;
}

/*--------------------------------
公開プロフィールボタン
---------------------------------*/
.login_button {
  /*影の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  /*border: solid 1px #333;*/
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.1s ease;
  background-color: #ffffff;
  width: 300px;
}

/*hoverをした後のボタンの形状*/
.login_button:hover{
  /*border-color:transparent;*/ 
}

/*ボタンの中のテキスト*/
.login_button span {
  position: relative;
  z-index: 2;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  /*テキストの形状*/
  display: block;
  padding: 10px 30px;
  background: var(--shadow-color);
  border-radius: 10px;
  color:#ffffff;
  /*アニメーションの指定*/
  transition: all 0.1s ease;
}

/*影の設定*/
.login_pushdown:before {
  content:"";
  /*絶対配置で影の位置を決める*/
  position: absolute;
  z-index: -1;
  top:4px;
  left:0;
  /*影の形状*/
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ffe4e1;
}

/*hoverの際にY軸に4pxずらす*/
.login_pushdown:hover span {
  background-color: var(--shadow-color);
  color: #ffffff;
  transform: translateY(4px);
}