
/*-----------------------------------
　基本設定変数
------------------------------------*/
:root {
  /*--font-coler: #DE7890; /* 基本文字色 */
  --font-coler: #9A6239; /* 基本文字色（通常文字） */
  --font-coler2: #DE7890; /* 基本文字色（濃い文字） */
  --button-coler: #DE7890; /*　基本ボタン色 */
/*  --input-coler: #ffe4e1;*/ /* 基本入力欄の色 */
  --input-coler: #ffeaea; /* 基本入力欄の色 */
  --shadow-color: #DE7890; /* 基本の影色 */
  --font-family: "07LogoTypeGothic7", "komorebi-gothic","游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif; /* 基本フォント種類 */
  --background-color: #fefefe; /* 基本背景色 */
  --youtube-color:#DA1725; /* Youtube色 */
  --twitter-color:#1DA1F2; /* Twitter色 */
  --tiktok-color:#00acee; /* TikTok色 */
  --instagram-color:#CF2E92; /* Instagram色 */
  --placefolder-color: #EBAEBC; /*プレースフォルダ色*/
  --input-border-color: #DE7890; /* 入力欄の淵の色 */
  --card-border-coloer: #EBAEBC; /* プロフィールカードの淵の色 */
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
/*-----------------------------------
　HTML　BODY部　基本設定
------------------------------------*/
body {
  /*font-family: var(--font-family);*/
  font-family: '07やさしさゴシック', sans-serif;
  color: var(--font-coler);
  background-color: var(--background-color);
}
/*--------------------------------------
 フォント読み込み
--------------------------------------*/
@font-face {
  font-family: '07やさしさゴシック';
  src: url(/font/07やさしさゴシック.ttf);
}
/*--------------------------------------
 サイドメニューの文字
--------------------------------------*/
.sidefont {
	font-size: 1.2rem;
}
/*-------------------------------------
入力欄オートコンプリート候補表示に色が変わるのを抑制
-------------------------------------*/
input:-webkit-autofill {
    box-shadow: 0 0 0 1000px var(--input-coler) inset;
    -webkit-text-fill-color: var(--font-coler);
}
/*-------------------------------------
入力欄プレースフォルダ色
-------------------------------------*/
::placeholder {
  color: var(--placefolder-color);
}
/*-------------------------------------
スクロールバー
-------------------------------------*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #ffe6ea;
}
::-webkit-scrollbar-thumb {
  background: var(--input-border-color);
  border-radius: 5px;
}
/*-------------------------------------
 要素表示/非表示
-------------------------------------*/
.display_none {
	display: none;
}
.display_block {
	display: block;
}

