/*-------------------------------------
新規登録モーダル　入れ物枠設定
-------------------------------------*/
.signup_01 {
  position: fixed;
  inset: 0;
  margin: auto;
  overflow: hidden;
  text-align: center;
  border: none;
}

/*--------------------------------
性別
---------------------------------*/
.radio01{
	display:flex;
	width: 100%;	
	margin:0 0 10px 140px;
}
.radio01 input{
	display: none;
}
.radio01 label{
	display: block;
	float: left;
	cursor: pointer;
	width: 100px;
	margin: 1px 0 1px 0;
	padding: 1.4% 0 1.5% 0;
	background: #ffffff;
	color: var(--font-color);
	font-size: 14px;
	text-align: center;
	line-height: 1;
	transition: .1s;
	border-radius: 10px;
}
.radio01 label:first-of-type{
}
.radio01 label:last-of-type{
	border-right: 0px;
}
.radio01 input[type="radio"]:checked + label {
	background-color: var(--shadow-color);
	color: #ffffff;
}
/*-------------------------------
利用規約同意
------------------------------*/
.check01 {
	position: relative;
	margin-left: 140px;
}

.CheckboxInput {
  padding: 12px 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.CheckboxInput-Input {
  margin: 0;
  width: 0;
  opacity: 0;
}
.CheckboxInput-Input:checked + .CheckboxInput-DummyInput {
  background: var(--shadow-color);
}
.CheckboxInput-Input:checked + .CheckboxInput-DummyInput::before {
  content: "";
  display: block;
  position: absolute;
  top: 35%;
  left: 60%;
  width: 35%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-135deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.CheckboxInput-Input:checked + .CheckboxInput-DummyInput::after {
  content: "";
  display: block;
  position: absolute;
  top: 35%;
  left: 60%;
  width: 70%;
  height: 4px;
  border-radius: 2px;
  transform: translate(-6px, 5px) rotateZ(-45deg);
  transform-origin: 2px 2px;
  background: #FFFFFF;
}
.CheckboxInput-DummyInput {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border: solid 2px var(--shadow-color);
  
  border-radius: 50%;
  transition: all .15s linear;
}
.CheckboxInput-LabelText {
  margin-left: 12px;
  display: block;
  font-size: 18px;
  color: var(--shadow-color);
}
/*--------------------------------
アカウント持ちログイン
---------------------------------*/
.account_login {
	margin: 10px auto; 
}
