/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
  width:98%;
  margin: 10px 0 20px 0px;
}

li {
  position: relative;
}
.slider_div {
  width: 500px;
  height: 300px;
  overflow:hidden;
  border-radius: 30px;
  margin: 5px 20px;
  object-fit: cover;
}
.slider_text {
  top: -80px;
  left: 40px;
  font-size: 50px;
  font-weight: 700;
  color: #FFFFFF;
  position: relative;
  text-shadow:1px 1px 0 #333333, -1px -1px 0 #333333,
              -1px 1px 0 #333333, 1px -1px 0 #333333,
              0px 1px 0 #333333,  0 -1px 0 #333333,
              -1px 0 0 #333333, 1px 0 0 #333333;
}
.slider img {
  width: 500px;
  height: 300px;
  object-fit:cover;
  transition:1s all;
}

.slider img:hover {
  transform:scale(1.2,1.2);
  transition:1s all;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #666;/*矢印の色*/
    border-right: 2px solid #666;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: 1.0%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
	margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
	margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}
